<section class="projects-section">
  <div class="project">
    <div class="project-info">
      <h3>PÁGINA WEB ESCOLAR</h3>
      <p class="project-date">Noviembre 2022</p>
      <p class="project-description">
      Desarrollé una página web para la escuela en que estaba, creando las secciones como inscripción,materias,noticias, etc..Utilizando HTML/CSS/Javascript </p>
      <a class="project-link" href="https://github.com/Diegoklp/P-gina-escuela.git">Ver proyecto</a>
    </div>
    <div class="project-image">
      <img src="assets/Tecnica-logo.png" alt="Imagen del proyecto 1">
    </div>
  </div>

  <div class="project">
    <div class="project-info">
      <h3>APLICACIÓN WEB</h3>
      <p class="project-date">Julio 2022</p>
      <p class="project-description">Desarrollé un aplicación web en ASP.NET la cual servia para ingresar reclamos relacionados a los semaforos utilizando base de datos, esto lo realice en mis prácticas en la dirección de tránsito</p>
      <a class="project-link" href="https://github.com/Diegoklp/Sistema-de-Gestion-PQRS.git">Ver proyecto</a>
    </div>
    <div class="project-image">
      <img src="assets/logo-LMT.png" alt="Imagen del proyecto 2">
    </div>
  </div>
  </section>
