<div id="experiencia">
  <h3>EXPERIENCIA</h3>
  <ul *ngFor="let experience of experiencelist">
  <div class="experiencia-item">
      <img class="experiencia-logo" [src]="experience.img" alt="Logo empresa">
      <div class="experiencia-info">
        <h3>{{experience.title}}</h3>
        <p>{{experience.period}}<p>
        <p>{{experience.detail}}</p>
      </div>
    </div>
  </ul>
    <!-- Agregar más items de experiencia si es necesario -->
  </div>

  <div id="educacion">
    <h3>EDUCACION</h3>
    <ul *ngFor="let educacion of educacionlist">
    <div class="educacion-item">
      <img class="educacion-logo" [src]="educacion.img" alt="Logo instituto">
      <div class="educacion-info">
        <h3>{{educacion.title}}</h3>
        <p>{{educacion.instituto}}</p>
        <p>{{educacion.period}}</p>
        <p>{{educacion.detail}}</p>
      </div>
    </div>
</ul>
    </div>
