<div id="menu">
  <div id="menu-logo">
    <img src="assets/logo.png" alt="Logo Argentina Programa">
    <h1>Argentina Programa</h1>
  </div>
  <div id="menu-login">
<a href="https://github.com/Diegoklp"><i class="fa brands fa-github" aria-hidden="true"></i>
<span> GitHub</span></a>
<a href="www.linkedin.com/in/
llanos-diego"><i class="fa brands fa-linkedin" aria-hidden="true"></i>
<span> Linkedin</span></a>
<a href="mailto:diegogamalielllanos@gmail.com"><i class="fa regular fa-envelope" aria-hidden="true"></i>
<span> Gmail</span></a>

<button>Login</button>
</div>
</div>

<div id="menu-banner">
  <img src="assets/banner.jpg">
</div>
